<h1>my page</h1>

<% if @user.id == current_user.id %>
  <p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
<% end %>
  <p><%= link_to 'Favorites', favorites_path %></p>

  <p><%= @user.image %></p>

  <p><%= @user.name %></p>

<% if @user.id == current_user.id %>
  <p><%= @user.email %></p>
<% end %>

  <p><%= @user.profile %></p>