<!DOCTYPE html>
<html>
  <head>
    <title>InstagramCloneApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="innerWrap">
        <h1>instagram</h1>
        <div class="menu">
          <% unless logged_in? %>
            <%= link_to "Sign up", new_user_path %>
            <%= link_to "Login", new_session_path %>
          <% end %>
        </div>
      </div>
    </header>
    <main class="container">
      <div class="innerWrap">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <%= yield %>
        <% if logged_in? %>
          <nav>
            <p><%= link_to image_tag("home_icon.png"), pictures_path %></p>
            <p><%= link_to image_tag("post_icon.png"), new_picture_path %></p>
            <p><%= link_to image_tag("profile_icon.png"), user_path(current_user.id) %></p>
          </nav>
        <% end %>
      </div>
    </main>
  </body>
</html>
